

<h1>Productions in system</h1>
<ul>
  <% @productions.each do |p| %>
    <li>
      <%= link_to p.title, p %>
      <% theatre = @theatres.find_by id: (p.theatre_id) %>
      <%= theatre.name %>
    </li>
    <br>
  <% end %>
</ul>

<div> <%= link_to 'Create a new production', new_production_path%><br>
<div> <%= link_to 'Home', costume_designers_index_path%><br>

